* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf');
  font-display: swap;
}

:root {
  --surface: #000000;
  --primary: #ff5e62;
  --text: #F5F5F5;
}

body {
  color: var(--text);
  background-color: var(--surface);
  font-family: 'NotoSans';
  padding-inline: 1.5rem;
  width: 100vw;
  max-width: 1200px;
  margin-inline: auto;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 72px;
  line-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  font-family: 'Poppins';
  background: linear-gradient(to right, #ff9966, #ff5e62);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 32px;
  cursor: default;
}

nav .title::selection {
  background-color: transparent;
}

.nav-links a {
  font-size: 24px;
  padding-left: 18px;
  color: var(--text);
  transition: 0.35s ease;
}

.nav-links a:hover {
  color: var(--primary);
}

.text-field {
  display: flex;
  width: calc(100% - 2rem);
  max-width: 680px;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.text-field .go {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  height: 52px;
  width: 52px;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  padding-bottom: 1px;
  padding-right: 3px;
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}

.text-field .go:hover {
  transform: scale(1.15);
}

#textbox {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #212121;
  outline: none;
  font-size: 17px;
  padding: 16px 22px;
  backdrop-filter: blur(8px);
  border-radius: 32px;
  transition: 0.35s ease;
  color: var(--text);
  margin-right: 16px;
  flex-grow: 1;
}

#textbox::placeholder {
  color: #666666;
}

#textbox:hover {
  border: 3px solid #424242;
}

#textbox:focus {
  border: 3px solid var(--primary);
}

@media (max-width: 768px) {
  nav .title {
    font-size: 28px;
  }

  .text-field {
    bottom: 1rem;
  }
}