* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf');
  font-display: swap;
}

:root {
  --surface: #000000;
  --primary: #ff5e62;
  --text: #F5F5F5;
}

body {
  color: var(--text);
  background-color: var(--surface);
  font-family: 'NotoSans';
  padding-inline: 1rem;
  width: 100vw;
  max-width: 800px;
  margin-inline: auto;
  overflow-x: hidden;
  padding-top: 64px;
  padding-bottom: 80px;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

nav {
  width: calc(100% - 2rem);
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
}

nav .title {
  font-family: 'Poppins';
  color: var(--primary);
  font-weight: 900;
  font-size: 28px;
  cursor: default;
}

nav .title::selection {
  background-color: transparent;
}

.nav-links a {
  font-size: 24px;
  padding-left: 20px;
  color: var(--text);
  transition: 0.35s ease;
}

.nav-links a:hover {
  color: var(--primary);
}

.text-field {
  display: flex;
  width: calc(100% - 2rem);
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 8px;
  position: fixed;
  bottom: 1rem;
  align-items: center;
  z-index: 1000;
  background-color: black;
  border: 3px solid #212121;
  border-radius: 2rem;
  transition: 0.35s ease;
}

.text-field .go {
  height: 52px !important;
  width: 52px !important;
  font-size: 24px;
  color: #424242;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}

.text-field .go:hover {
  transform: scale(1.15);
}

#textbox {
  background-color: transparent;
  outline: none;
  font-size: 16px;
  border: none;
  transition: 0.35s ease;
  color: var(--text);
  margin: 8px;
  flex-grow: 1;
  font-family: 'NotoSans';
  height: 32px;
  line-height: 32px;
  max-height: 200px;
  resize: none;
}

#textbox::placeholder {
  color: #666666;
}